@import "bootstrap/bootstrap.less";

@grid-pad: @grid-gutter-width / 2;

.battlefield { .container; padding-top: @grid-pad;  }
.army { .make-xs-column(6); }
.creatures-list { .make-xs-column(4); .list-unstyled; }
.creature { .make-xs-column(8); }

//параметры существ
.creature { display: none; }
.creature-name { font-weight: bold; }
.creature-stats { .list-unstyled; 
  >li { .make-row(); }
}
.stat-label { .make-xs-column(4); font-weight: normal; color: @gray; }
.stat-value { .make-xs-column(8); }

/*
.enemy-army {
  .creatures-list { .make-xs-column-pull(6); }
  .creature { .make-xs-column-push(6); }
}
*/
