@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/type.less";

@grid-pad: @grid-gutter-width / 2;

// ** Сетка
.army {
    .make-xs-column(6); 
}

.calculation {
    .make-xs-column(12); 
}

.creatures-list {
    .make-xs-column(2);
}

.primary-part {
    .make-xs-column(8);
}

.creature {
    .make-xs-column(6); 
}

.stat-label {
    .make-xs-column(6); 
}

.stat-value {
    .make-xs-column(6); 
}

.calc {
    .make-xs-column(12); 
}

.battlefield {
    padding: @grid-pad 0 0;  
}

.creatures-list {
    .list-unstyled;
    padding-left: @grid-pad;
    padding-top: @grid-pad; 
}

// ** параметры существ
.creature-header {

    .clearfix;
    margin-bottom: @grid-pad;
}

.creature-name {
    font-weight: bold; 
    margin-right: 60px + @grid-pad;

    &.control-label {
        display: block;
        text-align: left;
    }
}

.stat-value {
    text-align: right;
}

.creature-number {
    float: right;
    width: 60px;
}

.creature-stats {
    .list-unstyled; 

    >li {
        .make-row(); 
    }
}

.unimportant {
    display: none; 
}

.stat-label {
    font-weight: normal; color: @gray; 
}

.creature-stats .unimportant {
    display: none; 
}

.calculation {
    margin-top: @grid-pad;
}

.calc-value {
    display: inline; font-weight: bold; 
}

.calc-value small {
    font-size: 1em; font-weight: normal; 
}
